
{% extends "layout.html" %}
{% block body %}
<section id="review" class="review">
    <h1 class="heading">clint's <span>review</span></h1>
  
    <div class="box-container">
  
      <div class="box">
        <img src="{{ url_for('static', filename='image/doctor1.png') }}">
        <h3>Mark S</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <p class="text">"Madicare Network is a game-changer! As someone who recently moved to a new city, finding reliable
          healthcare was a top concern.
          Thanks to this platform, I could explore doctors from various departments and read about their background and
          patient experiences.
          I needed a dermatologist, and within minutes, I found an excellent one nearby.
          The platform's efficiency and user-friendly design deserve all the praise. A strong 4.5-star rating, no doubt!"
          - Mark S.</p>
      </div>
  
      <div class="box">
        <img src="{{ url_for('static', filename='image/doctor5.png') }}">
        <h3>Dr Zonni</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <p class="text">"Madicare Network is a game-changer! As someone who recently moved to a new city, finding reliable
          healthcare was a top concern.
          Thanks to this platform, I could explore doctors from various departments and read about their background and
          patient experiences.
          I needed a dermatologist, and within minutes, I found an excellent one nearby.
          The platform's efficiency and user-friendly design deserve all the praise. A strong 4.5-star rating, no doubt!"
          - Dr Zonni.</p>
      </div>
  
      <div class="box">
        <img src="{{ url_for('static', filename='image/doctor6.png') }}">
        <h3>jebran</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <p class="text">"Madicare Network is a game-changer! As someone who recently moved to a new city, finding reliable
          healthcare was a top concern.
          Thanks to this platform, I could explore doctors from various departments and read about their background and
          patient experiences.
          I needed a dermatologist, and within minutes, I found an excellent one nearby.
          The platform's efficiency and user-friendly design deserve all the praise. A strong 4.5-star rating, no doubt!"
          - jebran.</p>
      </div>
  
      <div class="box">
        <img src="{{ url_for('static', filename='image/doctor2.png') }}">
        <h3>Sarah T</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <p class="text">"I've been using Madicare Network for a few months now, and I am beyond impressed. The platform's
          seamless interface made it
          incredibly easy for me to find a specialist in gastroenterology. The doctor I chose was not only highly
          experienced but also very approachable.
          The ability to read patient reviews helped me make an informed decision.
          I appreciate how Madicare has simplified the process of finding the right doctor. A solid 4.5 stars from me!" -
          Sarah T.</p>
  
      </div>
  
      <div class="box">
        <img src="{{ url_for('static', filename='image/doctor3.png') }}">
        <h3> Emily L</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <p class="text">"I'm thoroughly impressed with Madicare Network. It's like having a personal healthcare assistant
          at your fingertips.
          I required a cardiologist due to a family history of heart issues, and the platform made the process incredibly
          smooth. The doctor
          I selected was not only knowledgeable but also took the time to address my concerns. Plus, the option to book
          appointments online is a
          huge convenience. A definite 4.5 stars
          this platform truly puts patients first!" - Emily L.</p>
  
      </div>
    </div>
  </section>
  
  
  
  
  
  {% endblock %}
  <!-- review section end here  -->
  
  